html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.keycap {
  font-weight: bold;
  font-size: 12pt;
  padding: 2px 10px 0 20px;
}

.highlighted_candidate {
  background-color: lightcyan;
}

td {
  margin: 0;
  border: 0;
}

.candidate {
  padding: 2px;
  font-size: 12pt;
}

.description {
  padding: 2px 10px 0 20px;
  font-size: 10pt;
  color: #666;
}

.cursor {
  color: red;
  animation: blink 0.7s infinite;
}

#function {
  position: absolute;
  padding: 10px 0 0 10px;
  color: #000;
  visibility: hidden;
}

#composing_buffer p {
  padding: 4px;
  background-color: #fff;
  margin-top: -2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14pt;
  color: #000;
}

#candidates {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 15px;
  padding: 10px;

  ime-mode: disabled;
  -webkit-ime-mode: disabled;
  -moz-ime-mode: disabled;
  -ms-ime-mode: disabled;
}

.left {
  width: 100%;
  overflow: auto !important;
}

.right {
  width: 100%;
  overflow: auto !important;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 28pt;
  height: 40px;
}

@media (min-width: 768px) {
  .left {
    width: 70%;
    float: left;
    min-height: 100%;
    overflow: auto !important;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .right {
    padding: 20px;
    width: 30%;
    float: right;
    overflow: auto !important;
    height: 100%;
  }
}

.right select {
  font-size: 12pt;
  width: 100%;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 14pt;
}

li {
  font-size: 10pt;
}

#edit_area {
  width: 100%;
  height: 80%;
}

.page_info {
  font-size: 10pt;
  text-align: right;
  color: #666;
}

.page_info td {
  padding-top: 20px;
}

p {
  margin: 10px 0;
  font-size: 10pt;
}

#loading {
  position: absolute;
  top: 0;
  left: 20;
  color: #fff;
  background-color: #000;
  padding: 10px;
  display: block;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

ul li {
  margin-bottom: 5px;
}

h1 {
  font-size: 24pt;
  margin-bottom: 10px;
}

textarea#text_area {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: darkgray;
  color: white;
  font-size: 14pt;
  line-height: 16pt;
}

textarea#text_area::placeholder {
  color: #666;
}

textarea#text_area:focus {
  background-color: blue;
  border: 1px solid #000;
  border: 0;
  outline: none;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  a {
    color: #9999ff;
    text-decoration: none;
  }

  blockquote {
    background-color: #666;
  }
}

details summary {
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 6px;
  margin-top: 16px;
}

details td {
  font-size: 12pt;
  vertical-align: top;
}

details td input[type='checkbox'] {
  transform: scale(1.2);
  margin-right: 6px;
}

details td input[type='radio'] {
  transform: scale(1.2);
  margin-right: 6px;
}

div#feature_input {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}

div#feature_user_data {
  display: none;
}
